<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">{{error.status}}</h1>
        <p class="fs-3"><span class="text-danger">Opps!</span> Error</p>
        <p class="lead">
            {{message}}
        </p>
        <a href="/login" class="btn btn-primary">Try login?</a>
    </div>
</div>
