<div class="container">
    <h1 class="text-center mb-3">Import data</h1>
    <div class="row d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" class="col-sm-5">
            <div class="mb-3">
                <label for="upload-movies" class="form-label">Movies Data</label>
                <input class="form-control" name="movies" type="file" id="upload-movies">
            </div>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>

        <form method="post" enctype="multipart/form-data" class="col-sm-5">
            <div class="mb-3">
                <label for="upload-casts" class="form-label">Casts Data</label>
                <input class="form-control" name="casts" type="file" id="upload-casts">
            </div>
            <button type="submit" class="btn btn-primary">Import</button>
        </form>
    </div>
</div>